/* 글꼴 및 공통 ----------------------------------------------- */

/* Noto Sans / Noto Serif 글꼴 지정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */

/* 배너 ----------------------------------------------- */

/* 배너 컨테이너 */
.common--bannerContainer {
    margin: 10px 30px 10px;
    height: 300px;
}

/* 배너 도시 이름 텍스트 조정 */
.common--bannerText {
    text-align: left;
    font-family: 'Noto Serif KR', serif;
}

/* 배너 웰컴 문구 조정 */
.common--bannerWelcome {
    border-top: 1px solid white;
}

/* 게시글 ----------------------------------------------- */

/* 게시글 컨테이너 조정 */
.common--boardListContainer {
    margin: 10px 30px 10px 30px;
}

/* 게시글 컨테이너 제목 조정 */
.common--boardListTitle {
    font-size: 1.5rem;
    padding-left: 15px;
    font-weight: bold;
}

/* 게시글 카드 묶음 조정 */
.common--boardCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

/* 게시글 카드 조정 */
.common--boardCard > a {
    display: grid;
    grid-template-rows: 180px 150px;
}
.common--boardCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 게시글 카드 이미지 조정 */
.common--boardListImageContainer {
    height: 180px;
    overflow: hidden;
}
.common--boardListImageContainer img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

/* 2열 공동 조정 ----------------------------------------------- */

/* 2열 나누기 조정 */
.common--twoDivide {
    margin: 10px 30px 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* 카드 높이 공동 조정 */
.common--TwoDivide > div {
    height: 250px;
}

/* 환율 계산기 ----------------------------------------------- */

/* 환율 계산기 구역 조정 */
.common--moneyBox {
    display: grid;
    height: 200px;
    grid-template-columns: 200px 1fr;
}

/* 환율 계산기 왼쪽 */
.common--moneyleftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #F3F3F3;
    border-radius: 300px;
}
.common--moneyleftBox div:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}
.common--moneyleftBox div:last-child {
    font-weight: bold;
    font-size: 1.8rem;
}

/* 환율 계산기 오른쪽 */
.common--moneyRightBox {
    display: grid;
    grid-template-rows: 1fr 1px 1fr;
}
.bottomMoneyBox,
.middleMoneyBox,
.topMoneyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.middleMoneyBox {
    background-color: #D9D9D9;
}
.middleMoneyBox i {
    padding: 5px;
    border-radius: 100%;
    background-color: #C4C2FF;
}
#afterMoney,
#beforeMoney {
    width: 150px;
    border-top: none;
    border-right: none;
    border-left: none;
}
#afterMoney:hover,
#beforeMoney:hover,
#afterMoney:focus,
#beforeMoney:focus {
    border-bottom: 3px solid black;
}

/* 환율 계산기 구역 조정 */
.common--cardExchange {
    display: grid;
    height: 200px;
    grid-template-rows: 1.5fr 1fr;
}

/* 환율 계산기 윗부분 조정 */
.common--cardExchange__top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
    gap: 10px;
}
.common--cardExchange__top > button {
    border-radius: 10%;
    border: none;
}
.common--cardExchange__top > button:hover {
    color: white;
    background-color: #8B89FF;
}

/* 환율 계산기 아래부분 조정 */
.common--cardExchange__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-num {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.common--cardExchange__bottom > div:nth-child(2) {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

/* 날씨 검색기 ----------------------------------------------- */

/* 날씨 검색기 조정 */
.common--cardWeather {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.common--cardWeather__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.common--cardWeather__right {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    font-weight: bold;
    align-items: center;
}
.common--cardWeather__right > div:first-child { /* 도시 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.common--cardWeather__right > div:nth-child(2) { /* 온도, 날씨 */
    display: flex;
    gap: 30px;
    align-items: center;
}
.common--cardWeather__right > div:nth-child(3) { /* 습도, 바람 */
    display: flex;
    gap: 30px;
}

/* 날씨 아이콘 조정 */
.common--cardWeather__left img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 10px solid #F3F3F3;
}
.common--cardWeather__left div {
    height: 120px;
    width: 120px;
    border-radius: 90px;
    border: 3px solid #F3F3F3;
    display: grid;
    place-items: center;
}

/* 날씨 셀렉터 */
.common--cardWeatherSelector {
    height: 30px;
    width: 100px;
}
.common--cardWeatherSelector option {
    font-size: 15px;
}
.common--cardWeatherSelectorBox button:hover {
    color: white;
    background-color: #C4C2FF;
}

/* 항공 ----------------------------------------------- */

/* oneDivide 조정 */
.common--oneDivide {
    margin: 10px 30px 10px 30px;
    display: grid;
}

/* 로딩 메시지 */
.loadingMessage,
.loadedMessage,
.noFlightMessage {
    color: white;
    z-index: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* 항공 카드 타이틀 애니메이션 */
@keyframes anime_textup { 0% { top: 0; } 20% { top: -0.2rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
.textAnimation span {
    position: relative;
    animation: anime_textup 1.5s infinite;
}
.textAnimation span:nth-of-type(1) {
    animation-delay: .1s;
}
.textAnimation span:nth-of-type(2) {
    animation-delay: .2s;
}
.textAnimation span:nth-of-type(3) {
    animation-delay: .3s;
}
.textAnimation span:nth-of-type(4) {
    animation-delay: .4s;
}
.textAnimation span:nth-of-type(5) {
    animation-delay: .5s;
}

/* 항공 박스 조정 */
.common--airBox {
    height: 300px;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    place-items: center;
}
.common--airBox > div:first-child {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
.common--airContentBox {
    width: 100%;
    height: 100%;
    border-top: 1px solid #D9D9D9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.common--airContent {
    display: grid;
    grid-template-rows: 50px 1fr;
}
.common--airContent > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #D9D9D9;
}
.common--airContent > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* 셀렉터 크기 조정 */
.countrySelectBox select {
    width: 100px;
    border: none;
    background-color: #F3F3F3;
}
.airportSelectBox select {
    width: 180px;
    border: none;
    background-color: #F3F3F3;
}

/* datepicker */
#datepicker1,
#datepicker2 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid black;
    padding-top: 15px;
}

/* 항공권 모달창 조정 */
.airportBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
    background-color: #8B89FF;
}

/* 상준: 항공권 for문 돌리기 위한 유령 태그 추가 작성 */
#flightListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* 항공권 카드 조정 */
.airportCard {
    width: 80%;
    transition: transform 0.3s ease;
}
.airportCard:hover {
    transform: scale(1.05);
}
.airportTicketBox {
    display: grid;
    grid-template-columns: 1fr 220px;
}
.airplanePrice {
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
}
.airplaneTicket {
    width: calc(100% = 200px);
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* 가는 편, 오는 편 공통 조정 */
.goto {
    border-bottom: 1px solid #D9D9D9;
}
.goto,
.from {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
}
.goto > div,
.from > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* goto, from 아이콘 조정 */
.goto i,
.from i {
    font-size: 1.5rem;
}

/* 티켓 좌우 칸 조정 */
.goto__departure,
.goto__arrival,
.from__departure,
.from__arrival {
    display: flex;
    flex-direction: column;
}

/* 공항 도시 조정 */
.airportCity {
    font-size: 1.2rem;
    font-weight: bold;
}

/* 아이콘 단 조정 */
.goto__icon,
.from__icon {
    display: flex;
    flex-direction: column;
}
.airInfo div {
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 가격칸 조정 */
.airPrice {
    display: grid;
    place-items: center;
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 모달 애니메이션 실험 ----------------------------------------------- */
.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}

@keyframes drift {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}