/* 글꼴 및 공통 ----------------------------------------------- */

/* Noto Sans / Noto Serif 글꼴 지정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */

/* 포스트 ----------------------------------------------- */

/* 포스트 컨테이너 조정 */
.writing--postContainer {
    display: grid;
    place-items: center;
}

/* 포스트 제목 박스 조정 */
.writing--postTitleBox {
    height: 100px;
    width: 1100px;
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    align-items: center;
}

/* 포스트 태그 */
.writing--postTag {
    font-size: 1.2rem;
}

/* 포스트 제목 */
.writing--postTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 포스트 정보 박스 조정 */
.writing--postInfoBox {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 20px 20px;
}

/* 포스트 주인 프로필 조정 */
.writing--postProfile {
    display: flex;
    align-items: center;
    gap: 5px;
}
.writing--postProfile img {
    height: 30px;
    border-radius: 100%;
}

/* 포스트 박스 조정 */
.writing--postBox {
    width: 90%;
    margin: 10px 30px 10px 30px;
    padding: 30px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: left;
}

/* 포스트 아래 박스 조정 */
.writing--postBottomBox {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0 150px 0;
}

/* 버튼 조정 */
.writing--postBottomBox > form a button {
    font-size: 1.5rem;
    border: none;
}

/* 댓글 ----------------------------------------------- */

/* 댓글 컨테이너 조정 */
.writing--commentContainer {
    display: grid;
    place-items: center;
    margin: 30px 0 30px;
}

/* 댓글 박스 조정 */
.writing--commentBox {
    width: 100%;
    padding: 0 150px 0;
    display: flex;
    justify-content: center;
}

/* 댓글 정렬 */
.writing--commentTable {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 1100px;
}
.writing--commentTable tr {
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 0 10px;
    display: grid;
    grid-template-columns: 200px 600px 150px 150px;
    align-items: center;
}

/* 댓글 프로필 박스 조정 */
.writing--commentProfileBox {
    display: flex;
    gap: 3px;
    padding-left: 10px;
}
.writing--commentProfileBox > span:nth-child(3) {
    padding-top: 3px;
}

/* 댓글 프로필 이미지 조정 */
tr img {
    height: 30px;
    border-radius: 100%;
    padding: 0 3px 0;
}

/* 댓글 내용 박스 조정 */
.writing--commentContentBox {
    width: 600px;
    max-width: 600px;
    text-align: left;
    padding: 0 10px 0;
}

/* 댓글 작성일 박스 조정 */
.writing--commentDateBox {
    padding: 0 10px 0;
}

/* 댓글 버튼 박스 조정 */
.writing--commentBtnBox form a {
    display: flex;
    gap: 5px;
    justify-content: right;
    padding-right: 5px;
}


/* 댓글 달기 */
.writing--commentInput {
    width: 1000px;
    display: flex;
    margin: 10px 0 10px;
    align-items: center;
    justify-content: space-between;
}
.writing--commentInput textarea {
    height: 80px;
    width: 850px;
    resize: none;
    white-space: pre-wrap;
    width: 850px;
}

/* 댓글 상호작용 */
.writing--commentInput textarea:focus {
    background-color: #D9D9D9;
}

/* 대댓글 ----------------------------------------------- */






