/* 글꼴 및 공통 ----------------------------------------------- */

/* Noto Sans / Noto Serif 글꼴 지정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */

/* 문서 기본 통일 ----------------------------------------------- */

/* 전체 문서 글꼴 통일 */
.template--body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 문서 a태그 밑줄 없애기/색깔 조정 통일 */
.template--body a {
    text-decoration: none;
    color: inherit;
}

/* search 타입의 input에서 x자 없애기 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

/* number 타입의 input에서 스피너 없애기 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* selector 꾸미기 */
select {
    border-radius: 4px;
    outline: 0 none;
}
select option {
    background: #8B89FF;
    color: white;
    padding: 3px 0;
}

/* footer 하단 배치 고정(송이씨 모니터에서 문제 발견) */
.template--footer {
    height: 260px; /* footer 높이 */
    position : relative;
    transform : translateY(-100%);
}
.template--main {
    height: auto;
    min-height: 100%;
    padding-bottom: 260px; /* footer 높이 */
}

/* 문서 기본 화면 배치 통일 ----------------------------------------------- */

/* 화면 가로 길이 1400px 통일 */
.template--header,
.template--main,
.template--footer {
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
}

/* template3 ----------------------------------------------- */

/* 페이지 제목 */
.template--pageTitleContainer {
    padding: 10px 0 10px;
    height: 120px;
    display: grid;
    place-items: center;
}
.template--pageTitleBox {
    height: 150px;
    width: 100%;
}

/* 페이지 제목 사진 조정 */
.template--pageTitleBox {
    height: 100px;
    position: relative;
}
.template--overlayedTitle {
    position: absolute;
    top: 50%;
    /* left: 15%; */
    margin-left: 200px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.template--overlayedSearch {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* 콘텐츠 컨테이너 */
.template--contentContainer {
    height: 700px; /* 1) 이 높이와 */
    background-color: red;
    display: grid;
    place-items: center;
}

/* 콘텐츠 박스 조정 */
.template--contentBox {
    height: 600px; /* 2) 이 높이를 적당히 조정하여 콘텐츠 박스를 사용 */
    width: 90%;
    margin: 10px 30px 10px 30px;
    background-color: grey;
    display: grid;
    place-items: center;
}