/* 통계박스 조정 */
/* .manager--statisticsBox {
    height: 100px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* 통계 컨텐츠 조정 */
/* .manager--statistics {
    height: 80px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: 80px 120px;
} */

/* 통계 아이콘 조정 */
/* .manager--statistics > div:nth-child(1) {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
} */

/* 통계 텍스트 조정 */
/* .manager--statistics > div:nth-child(2) {
    display: grid;
    grid-template-rows: 20px 60px;
    align-items: center;
    padding: 5px 0 5px;
}
.manager--statistics > div:nth-child(2) > div:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
} */