<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">


	<resultMap type="Message" id="message_rm">
		<id property="chattingNo" column="CHATTING_NO" />
		<result property="msgNo" column="MSG_NO" />
		<result property="msgContent" column="MSG_CONTENT" />
		<result property="sendTime" column="SEND_TIME" />
		<result property="senderNo" column="SENDER_NO" />
		<result property="receiverNo" column="RECEIVER_NO" />

		
	</resultMap>

	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="profileImg" column="PROFILE_IMG"/>
	</resultMap>	


	<!--=========================================================================================-->
	<!-- 채팅 메세지 삽입 -->
	<insert id="insertMessage">
		INSERT INTO "CHATTING"
		VALUES(SEQ_MSG_NO.NEXTVAL, #{msgContent},DEFAULT, #{senderNo})
	</insert>
	
		<!-- 채팅방 메세지 조회 -->
	<select id="selectMessageList" resultMap="message_rm">
		SELECT MSG_NO, MSG_CONTENT,SENDER_NO,
		TO_CHAR(SEND_TIME, 'YYYY.MM.DD HH24:MI') SEND_TIME,
		MEMBER_NO ,MEMBER_NICKNAME, PROFILE_IMG
		FROM CHATTING
		JOIN "MEMBER" ON(MEMBER_NO = SENDER_NO)
		ORDER BY MSG_NO
	</select>
	
	

</mapper>

