<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">


	<resultMap type="Main" id="main_rm">
		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="boardNo" column="BOARD_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardText" column="BOARD_TEXT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="boardUpdate" column="UPDATE_DATE" />
		<result property="readCount" column="READ_COUNT" />
		<result property="boardCode" column="BOARD_CODE" />
		<result property="boardDelete" column="BOARD_DELETE" />
		<result property="boardThumbnail" column="BOARD_THUMBNAIL" />

		<!-- JOIN -->
		<result property="commentCount" column="COMMENT_COUNT" />
		<result property="likeCount" column="LIKE_COUNT" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="profileImage" column="PROFILE_IMG" />
		<result property="countryNo" column="COUNTRY_NO" />
		<result property="tagNo" column="TAG_NO" />
		<result property="thumbnail" column="THUMBNAIL" />


		<collection property="imageList" select="selectImageList"
			column="BOARD_NO" javaType="java.util.ArrayList" ofType="BoardImage" />

		<!-- <collection property="replyList" select="selectReplyList" column="BOARD_NO" 
			javaType="java.util.ArrayList" ofType="Reply" /> -->
	</resultMap>

	<!--리플 -->
	<!-- <resultMap type="Reply" id="reply_rm"> <id property="replyNo" column="COMMENT_NO"/> 
		<result property="replyContent" column="REPLY_CONTENT"/> <result property="replyDate" 
		column="REPLY_DATE"/> <result property="updateDate" column="REPLY_UPDATE"/> 
		<result property="replyDelete" column="REPLY_DELETE"/> <result property="parentReplyNo" 
		column="PARENT_REPLY_NO"/> </resultMap> -->

	<!-- BoardImage resultMap -->
	<resultMap type="BoardImage" id="boardImage_rm">
		<id property="imageNo" column="IMG_NO" />
		<result property="imagePath" column="IMG_PATH" />
		<result property="imageReName" column="IMG_RENAME" />
		<result property="imageOriginal" column="IMG_ORIGINAL" />
		<result property="imageOrder" column="IMG_ORDER" />
		<result property="boardNo" column="BOARD_NO" />

	</resultMap>



	<select id="hotBoard" resultMap="main_rm">
		SELECT *
		FROM(
		SELECT B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		READ_COUNT,(
		SELECT COUNT(*)
		FROM CONTENT_LIKE CL
		WHERE CL.BOARD_NO =
		B.BOARD_NO
		) AS LIKE_COUNT
		FROM BOARD B
		ORDER BY LIKE_COUNT DESC
		)
      <![CDATA[WHERE ROWNUM <= 5]]>
	</select>

	<select id="foodBoard" resultMap="main_rm">
		SELECT *
		FROM (
		SELECT T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT, COUNT(CL.BOARD_NO) AS LIKE_COUNT
		FROM BOARD B
		JOIN TAG T ON B.TAG_NO = T.TAG_NO
		LEFT JOIN CONTENT_LIKE CL ON B.BOARD_NO = CL.BOARD_NO
		WHERE T.TAG_NO = 2
		GROUP BY T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT
		ORDER BY LIKE_COUNT DESC
		)
		 <![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
	
	<select id="tipBoard" resultMap="main_rm">
		SELECT *
		FROM (
		SELECT T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT, COUNT(CL.BOARD_NO) AS LIKE_COUNT
		FROM BOARD B
		JOIN TAG T ON B.TAG_NO = T.TAG_NO
		LEFT JOIN CONTENT_LIKE CL ON B.BOARD_NO = CL.BOARD_NO
		WHERE T.TAG_NO = 3
		GROUP BY T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT
		ORDER BY LIKE_COUNT DESC
		)
		 <![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
	<select id="healBoard" resultMap="main_rm">
		SELECT *
		FROM (
		SELECT T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT, COUNT(CL.BOARD_NO) AS LIKE_COUNT
		FROM BOARD B
		JOIN TAG T ON B.TAG_NO = T.TAG_NO
		LEFT JOIN CONTENT_LIKE CL ON B.BOARD_NO = CL.BOARD_NO
		WHERE T.TAG_NO = 4
		GROUP BY T.TAG_CONTENT, B.BOARD_THUMBNAIL, B.BOARD_NO, B.BOARD_TITLE,B.BOARD_CODE,COUNTRY_NO,
		B.READ_COUNT
		ORDER BY LIKE_COUNT DESC
		)
		 <![CDATA[WHERE ROWNUM <= 5]]>
	</select>


	<select id="selectImageList" resultMap="boardImage_rm">
		SELECT * FROM "BOARD_IMG"
		WHERE BOARD_NO=#{boardCode}
		ORDER BY IMG_ORDER
	</select>
</mapper>
